spring:
  application:
    name: QuoraApp

  data:
    mongodb:
      host: localhost
      port: 27017
      database: search_ahead_db
      auto-index-creation: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: view-count-consumer
